
.container {width: 600px;
            padding:360px;
            border-left: honeydew;
            background-image: image("images/beanstalk.png")
}
body{
    margin:0;
}

header {font-family: 'Georgia', Times, Times New Roman, serif;
        background:#4aaaa5;
        color: #ffffff;
        border-color: #cccccc;
        margin: 0;
        padding: 40px;
        width: 20%;
        }

a {font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   float: right;}

footer {border-top: 8px solid #4aaaa5;
        background:#666666;
        text-align: center}

        #profilepic{ width: 130px;
                     height: 200px;}